<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Barberia_01">
        <activity
            android:name=".RegistrarActivity"
            android:exported="false"
            android:theme="@style/Theme.Barberia_01.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Barberia_01.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterAppointmentActivity"
            android:exported="false"
            android:label="Registrar Cita"
            android:theme="@style/Theme.Barberia_01.NoActionBar" />
        <activity
            android:name=".VerDisponibilidadActivity"
            android:exported="false"
            android:label="Ver Disponibilidad"
            android:theme="@style/Theme.Barberia_01.NoActionBar" />
        <activity
            android:name=".MisCitasActivity"
            android:exported="false"
            android:label="Mis Citas"
            android:theme="@style/Theme.Barberia_01.NoActionBar" />
        <activity
            android:name=".PagosActivity"
            android:exported="false"
            android:label="Realizar Pago"
            android:theme="@style/Theme.Barberia_01.NoActionBar" />
    </application>

</manifest>